body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}
#scott{
	position:Fixed;
	top: 50px;
	right: 50px;
	height: 90px;
	width:75px;
	font-size: 10px;
}
#absolute-unit{
	position: absolute;
	bottom:0;
	right:0;
	height:75px;
	width: 75px;
}

#interests{
	position:relative;
	background-color:rgb(206, 205, 205);
	height: 300px;
	width: 500px;
	font-family: serif;
	font-weight: 200;
	font-size: 30px;
	color:darkgreen
}
#myInterestsPic{
	position:absolute;
	top:25px;
	right:25px;
	object-fit: cover;
	height:250px;
	width:250px;

}
.interestsContent{
	color:darkolivegreen;
	font-family: sans-serif;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
}

#skills{
	position:relative;
	background-color:rgb(206, 205, 205);
	height: 300px;
	width: 500px;
	font-family: serif;
	font-weight: 200;
	font-size: 30px;
	color:darkgreen
}
#mySkillsPic{
	position:absolute;
	top:25px;
	right:25px;
	object-fit: cover;
	height:250px;
	width:250px;

}
.skillsContent{
	color:darkolivegreen;
	font-family: sans-serif;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
}

#career{
	position:relative;
	background-color:rgb(206, 205, 205);
	height: 300px;
	width: 500px;
	font-family: serif;
	font-weight: 200;
	font-size: 30px;
	color:darkgreen
}
#myCareerPic{
	position:absolute;
	top:25px;
	right:25px;
	object-fit: cover;
	height:250px;
	width:250px;

}
.careerContent{
	color:darkolivegreen;
	font-family: sans-serif;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
}

.buttonClass{
	background-color: yellow;
	height: 50px;
	width: 163px;
}

.label{
	position:relative;
	height: 50px;
	width:500px;
}
.checkbox{
	position:absolute
}
.text{
	position: absolute;
	left: 20px;
}